/.idea/*.*
/.idea/copyright/*.*
/.idea/libraries/*.*
/.idea/scopes/*.*
/keepUp.iml
/nb-configuration.xml
/keepUp-app/keepUp-app.iml
/keepUp-backEnd/keepUp-backEnd.iml
/keepUp-backEnd/nb-configuration.xml
/keepUp-common/keepUp-common.iml
/keepUp-common/nb-configuration.xml
/keepUp-frontEnd/keepUp-frontEnd.iml
/keepUp-frontEnd/nb-configuration.xml
/keepUp-identityManager/keepUp-identityManager.iml
/keepUp-identityManager/nb-configuration.xml
/keepUp-app/target/
/keepUp-backEnd/target/
/keepUp-common/target/
/keepUp-frontEnd/target/
/keepUp-identityManager/target/
/JavaApplication1/nbproject/private/