/.idea/*.*
/.idea/copyright/*.*
/.idea/libraries/*.*
/.idea/scopes/*.*
/keepUp.iml
/keepUp-app/keepUp-app.iml
/keepUp-backEnd/keepUp-backEnd.iml
/keepUp-frontEnd/keepUp-frontEnd.iml
/keepUp-frontEnd/nb-configuration.xml
